langchain
langchain-ollama
langchain-community
langchain-text-splitters
langchain_experimental
langchain-huggingface
langchain-chroma

pypdf
rapidocr-onnxruntime
unstructured
sentence-transformers

streamlit
pysqlite3-binary
